/.DS_Store
/.ipynb_checkpoints
/Untitled.ipynb
/alc.mp3
/alc.pdf
/alc1.mp3
/alc2.mp3
/alc3.mp3
/audiobook.mp3
/audiobook.wav
/audiobook_generator.py
/cori_jlab_test.wav
/cori_test.wav
/libritts_r_test.wav
/piper_tts.ipynb
/requirements.txt
/tts_auto
/tts_chunks
/tts_phrases
/voices